<div class="container">
  <div class="search-container">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="tabs">
      <mat-tab class="tab">
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">flight</mat-icon>
          Flights
        </ng-template>
        <app-flights-tab></app-flights-tab>
      </mat-tab>
      <mat-tab class="tab">
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon"> hotel</mat-icon>
          Hotels
        </ng-template>
        Insert Hotels Search
      </mat-tab>
      <mat-tab class="tab">
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon"> directions_car</mat-icon>
          Car Rental
        </ng-template>
        Insert Car Rental Search
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
