*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -105px;
}

.search-container{
    width: 65%;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: #868686;
    padding: 20px;
}

.tabs{
    height: 25vh;
}

.tab-icon{
    margin-right: 15px;
}
