<footer>
    <div class="sec">
        <ul>
            <li><a routerLink="">About</a></li>
            <li><a routerLink="">Packages</a></li>
            <li><a routerLink="">News</a></li>
            <li><a routerLink="">Partners</a></li>
            <li><a routerLink="">Contacts</a></li>
          </ul>
    </div>
    <div class="sec">
        <ul>
            <li><a routerLink="">Facebook</a></li>
            <li><a routerLink="">Twitter</a></li>
            <li><a routerLink="">Instagram</a></li>
            <li><a routerLink="">Tiktok</a></li>
            <li><a routerLink="">Telegram</a></li>
          </ul>
    </div>
    <div class="sec">
        <p>c 2023 Test Powerd by Innovation Factory</p>
    </div>
</footer>