<footer>
  <div class="footer-banner">
    <div class="content-container">
        <div class="banner-left">
            <h1>Have any questions? Let us help you!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="banner-right">
            <div class="p-input-icon-right">
              <span class="email-icon-container">
                <i class="fa-sharp fa-solid fa-paper-plane" id="email-icon"></i>
              </span>
              <input type="text" pInputText placeholder="Input your email here " />
            </div>
          </div>
    </div>
  </div>
  <div class="footer-links">
    <div class="sec">
      <ul>
        <li><a routerLink="">About</a></li>
        <li><a routerLink="">Packages</a></li>
        <li><a routerLink="">News</a></li>
        <li><a routerLink="">Partners</a></li>
        <li><a routerLink="">Contacts</a></li>
      </ul>
    </div>
    <div class="sec">
      <ul>
        <li class="socmed-icons"><a href="https://www.facebook.com/innovationfact/"><i class="fa-brands fa-facebook-f fa-lg" style="color: #3f51b5"></i></a></li>
        <li class="socmed-icons"><a href="https://twitter.com/InnovationFact4/"><i class="fa-brands fa-twitter fa-lg" style="color: #3f51b5"></i></a></li>
        <li class="socmed-icons"><a href="https://www.instagram.com/innovationfact/"><i class="fa-brands fa-instagram fa-lg" style="color: #3f51b5"></i></a></li>
        <li class="socmed-icons"><a href="https://www.tiktok.com/@innovation_factory?_t=8WFRVmekEUr&_r=1/"><i class="fa-brands fa-tiktok fa-lg" style="color: #3f51b5"></i></a></li>
        <li class="socmed-icons"><a href=""><i class="fa-sharp fa-solid fa-paper-plane fa-lg" style="color: #3f51b5"></i></a></li>
      </ul>
    </div>
    <div class="sec">
      <p>&#169; 2023 Test Powerd by &nbsp;</p>
      <p id="company">Innovation Factory</p>
    </div>
  </div>
</footer>
