*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.transparent-header a{
    color:  #fff;
}

.white-header a{
    color: black;
}

header{
    width: 100%;
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

header ul{
    display: flex;
}

.login-group{
    display: flex;
}

header ul li{
    margin-left: 20px;
}

.header-language{
    border: none;
    font-size: 1rem;
    background-color: transparent;
    margin-right: 20px;
    padding: 10px;
    color: #fff;
}

#loginBtn{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    font-size: 1rem;
    padding: 15px;
}

#header-language-icon{
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: -5px;
}

#register{
    margin-right: 10px;
    height: 30px;
    width: 90px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#login{
    height: 30px;
    width: 90px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#login i{
    margin-right: 10px;
}

.login-group{
    margin-right: 30px;
    cursor: pointer;
}

.active-link {
    border: 1px solid #3F51B5;
    padding: 10px;
    border-radius: 30px;
  }
  