<header class="transparent-header" *ngIf="router.url === '/' && !hasUser">
  <div>
    <ul>
      <li><a href="#" (click)="scrollToSection('about-us')">About</a></li>
      <li><a href="#" (click)="scrollToSection('packages')">Packages</a></li>
      <li><a href="#" (click)="scrollToSection('news')">News</a></li>
      <li><a href="#" (click)="scrollToSection('partners')">Partners</a></li>
      <li><a href="#" (click)="scrollToSection('contact')">Contacts</a></li>
    </ul>
  </div>
  <div>
    <mat-icon id="header-language-icon">language</mat-icon>
    <select class="header-language">
      <option value="English">English</option>
      <option value="Arabic">Arabic</option>
    </select>
    <button mat-stroked-button id="loginBtn" (click)="login()">
      <mat-icon>perm_identity</mat-icon>
      Sign in / Register
    </button>
  </div>
</header>

<header class="white-header" *ngIf="router.url !== '/' && !hasUser">
  <div>
    <ul>
      <li><a href="#" (click)="scrollToSection('about-us')">About</a></li>
      <li><a href="#" (click)="scrollToSection('packages')">Packages</a></li>
      <li><a href="#" (click)="scrollToSection('news')">News</a></li>
      <li><a href="#" (click)="scrollToSection('partners')">Partners</a></li>
      <li><a href="#" (click)="scrollToSection('contact')">Contacts</a></li>
    </ul>
  </div>
  <div class="login-group">
    <div id="register" (click)="toggleComponentRegister()" [ngClass]="{ 'active-link': !showComponent}">Register</div>
    <div id="login" (click)="toggleComponentLogin()" [ngClass]="{ 'active-link': showComponent}"><i class="fa-solid fa-user" style="color:#3F51B5"></i>Login</div>
  </div>  
</header>

<header class="user-header" *ngIf="router.url === '/' && hasUser">
  <div>
    <ul>
      <li><a href="#" (click)="scrollToSection('about-us')">About</a></li>
      <li><a href="#" (click)="scrollToSection('packages')">Packages</a></li>
      <li><a href="#" (click)="scrollToSection('news')">News</a></li>
      <li><a href="#" (click)="scrollToSection('partners')">Partners</a></li>
      <li><a href="#" (click)="scrollToSection('contact')">Contacts</a></li>
    </ul>
  </div>
  <div class="login-group">
    <div id="logout" (click)="logout()">Logout</div>
    <p-avatar  image="../../../assets/images/avatar.png"
    styleClass="mr-2" size="medium" [style]="{ 'background-color': '#3F51B5', color: '#ffffff' }" shape="circle"></p-avatar>
  </div>  
</header>
