<div class="container">
  <div class="contents">
    <h1>With Our Experience We will Serve You</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="group-container">
      <div class="group">
        <h3>24k</h3>
        <p>Travel</p>
        <p>Experience</p>
      </div>

      <mat-divider [vertical]="true"></mat-divider>

      <div class="group">
        <h3>55+</h3>
        <p>Countries</p>
        <p>Serve</p>
      </div>

      <mat-divider [vertical]="true"></mat-divider>

      <div class="group">
        <h3>50M</h3>
        <p>Overall USD</p>
        <p>Discount</p>
      </div>

      <mat-divider [vertical]="true"></mat-divider>

      <div class="group">
        <h3>88M</h3>
        <p>User per</p>
        <p>Year</p>
      </div>
    </div>
  </div>
</div>
