<div class="container">
  <div class="contents">
    <div class="left-container">
      <img src="../../../assets/images/about-us1.jpg" />
      <h1>Get Experience In We are Expert</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="right-container">
      <div class="group">
        <a><i class="fa-solid fa-plane" style="color: #3f51b5"></i></a>
        <div class="group-container">
          <h3>Flight</h3>
          <p>We provide some very affordable prices compared to others</p>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="group">
        <a><i class="fa-solid fa-hotel" style="color: #3f51b5"></i></a>
        <div class="group-container">
          <h3>Hotels</h3>
          <p>Stay in style with our luxurios hotels.</p>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="group">
        <a><i class="fa-solid fa-house" style="color: #3f51b5"></i></a>
        <div class="group-container">
          <h3>Homestay</h3>
          <p>Experience local living at its finest with our homestays.</p>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="group">
        <a><i class="fa-solid fa-car" style="color: #3f51b5"></i></a>
        <div class="group-container">
          <h3>Car Rental</h3>
          <p>
            Hit the road with ease and convenience with our car rental service.
          </p>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="group">
        <a><i class="fa-solid fa-briefcase" style="color: #3f51b5"></i></a>
        <div class="group-container">
          <h3>Business</h3>
          <p>
            Indulge in the ultimate luxury of private travel with our charter
            booking service.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
