<div class="container">
  <div class="content-container">
    <div class="text-container">
      <h1>Our Customers Say About us</h1>
      <i class="fa-solid fa-quote-left fa-2xl" style="color: #3f51b5"></i>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, nesciunt
        dignissimos nam, laudantium tempora cum sed distinctio.
      </p>
      <div class="icon-container">
        <p-avatar
          image="../../../assets/images/avatar.png"
          styleClass="mr-2"
          shape="circle"
        ></p-avatar>
        <span id="name">Amina Reyes</span>
        <div class="dot"></div>
        <span id="title">Travel Guide</span>
      </div>
      <ng-container *ngFor="let i of [1, 2, 3, 4, 5]">
        <i class="fa-solid fa-star" style="color: #fcc24c"></i>
      </ng-container>
    </div>
  </div>
</div>
