<section class="banner">
  <div class="home-contents">
    <div class="home-title">
      <h3>JUST SECONDS AWAY FROM</h3>
      <h1>A WORLD OF LUXURY</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
    <button mat-fab extended color="primary" id="start-btn">
      Let's Start Now!
      <mat-icon class="arrow-right">keyboard_arrow_right</mat-icon>
    </button>
  </div>
</section>

<app-search></app-search>
<app-partners id="partners"></app-partners>
<app-about id="about-us" routerLink="/" fragment="about-us"></app-about>
<app-experience></app-experience>
<app-places></app-places>
<app-packages id="packages"></app-packages>
<app-featured id="news"></app-featured>
<app-about-us id="contact"></app-about-us>
